@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#044ba2, #8edfff);
    overflow: hidden;
}

.wrapper {
    position: relative;
    width: 30rem;
    height: 35rem;
}

.form-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

/* sign-up-at-front case */
/* --sign-in position */
.wrapper.animate-signUp .form-wrapper.sign-in {
    transform: rotate(7deg);
    animation: animateRotate .7s ease-in-out forwards;
    animation-delay: .3s;
}

/* --staff-in position */
/*.wrapper.animate-signUp .form-wrapper.staff-sign-in {*/
/*    transform: rotate(14deg);*/
/*    animation: animateRotate .7s ease-in-out forwards;*/
/*    animation-delay: .3s;*/
/*}*/

/* sign-in position during staff-in state */
/*.wrapper.animate-staffIn .form-wrapper.sign-in {*/
/*    transform: rotate(14deg);*/
/*    animation: animateRotateStaffIn .7s ease-in-out forwards;*/
/*    animation-delay: .3s;*/
/*}*/

/* sign in -- sign up exchange */
.wrapper.animate-signIn .form-wrapper.sign-in {
    animation: animateSignIn 1.5s ease-in-out forwards;
}
/* sign in -- staff in exchange */
/*.wrapper.animate-signIn2 .form-wrapper.sign-in{*/
/*    animation: animateSignIn2 1.5s ease-in-out forwards;*/
/*}*/

/* sign-in go back animation when sign-up at front */
@keyframes animateSignIn {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-33rem);
    }

    100% {
        transform: translateX(0) rotate(7deg);
    }
}

/* sign-in go back animation when staff-in at front */
@keyframes animateSignIn2 {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-33rem);
    }

    100% {
        transform: translateX(0) rotate(14deg);
    }
}

/* sign-in-at-front case */
/* --forget-password position */
.wrapper .form-wrapper.forget-password{
    transform: rotate(0);
}
/* --sign-up position */
.wrapper .form-wrapper.sign-up {
    transform: rotate(7deg);
}
/* --staff-in position */
/*.wrapper .form-wrapper.staff-sign-in{*/
/*    transform: rotate(14deg);*/
/*}*/

/* sign-up rotate when sign-in go back*/
.wrapper.animate-signIn .form-wrapper.sign-up {
    animation: animateRotate .7s ease-in-out forwards;
    animation-delay: .3s;
}

/* staff-in rotate when sign-in go back*/
/*.wrapper.animate-signIn2 .form-wrapper.staff-sign-in{*/
/*    animation: animateRotateStaffIn2 1.5s ease-in-out forwards;*/
/*    !*animation-delay: .3s;*!*/
/*}*/

/* forget password mode ---- other forms spread out */
.wrapper.animate-forget .form-wrapper.sign-in{
    animation: animateSpread1 1.5s ease-in-out forwards;
}
.wrapper.animate-forget .form-wrapper.sign-up{
    animation: animateSpread2 1.5s ease-in-out forwards;
}
/*.wrapper.animate-forget .form-wrapper.staff-sign-in{*/
/*    animation: animateSpread3 1.5s ease-in-out forwards;*/
/*}*/
/* forget password return mode ---- other forms gather */
.wrapper.animate-goback .form-wrapper.sign-in{
    animation: animateGather1 1.5s ease-in-out forwards;
}
.wrapper.animate-goback .form-wrapper.sign-up{
    animation: animateGather2 1.5s ease-in-out forwards;
}
/*.wrapper.animate-goback .form-wrapper.staff-sign-in{*/
/*    animation: animateGather3 1.5s ease-in-out forwards;*/
/*}*/

/* spread animation */
@keyframes animateSpread1 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(55rem) translateY(-55rem);
    }
}

@keyframes animateSpread2 {
    0% {
        transform: rotate(7deg) translateX(0);
    }

    100% {
        transform: translateX(-55rem) translateY(-55rem);
    }
}

@keyframes animateSpread3 {
    0% {

        transform: rotate(14deg) translateX(0);
    }

    100% {
        transform: translateY(55rem);
    }
}
/* gather animation */
@keyframes animateGather1 {
    0% {
        transform: translateX(55rem) translateY(-55rem);
    }

    100% {
        transform: translateX(0);
    }
}
@keyframes animateGather2 {
    0% {
        transform: translateX(-55rem) translateY(-55rem);
    }

    100% {
        transform: rotate(7deg) translateX(0);
    }
}
@keyframes animateGather3 {
    0% {
        transform: translateY(55rem);

    }

    100% {
        transform: rotate(14deg) translateX(0);

    }
}

/* sign-up rotate */
@keyframes animateRotate {
    0% {
        transform: rotate(7deg);
    }

    100% {
        transform: rotate(0);
        z-index: 1;
    }
}

/* staff-in rotate */
/*@keyframes animateRotateStaffIn {*/
/*    0% {*/
/*        transform: rotate(14deg);*/
/*    }*/

/*    100% {*/
/*        transform: rotate(0);*/
/*        z-index: 1;*/
/*    }*/
/*}*/

/*@keyframes animateRotateStaffIn2 {*/
/*    0% {*/
/*        transform: rotate(14deg) translateX(0);*/
/*    }*/

/*    50% {*/
/*        transform: translateX(33rem);*/
/*    }*/

/*    100% {*/
/*        transform: rotate(0) translateX(0);*/
/*        z-index: 1;*/
/*    }*/
/*}*/

/* sign up -- sign in exchange */
.wrapper.animate-signUp .form-wrapper.sign-up {
    animation: animateSignUp 1.5s ease-in-out forwards;
}

/* staff in -- sign in exchange */
/*.wrapper.animate-staffIn .form-wrapper.staff-sign-in{*/
/*    animation: animateStaffIn 1.5s ease-in-out forwards;*/
/*}*/

/* sign-up go to the front animation when sign-in at back */
@keyframes animateSignUp {
    0% {
        transform: translateX(0);
        z-index: 1;
    }

    50% {
        transform: translateX(33rem);
    }

    100% {
        transform: translateX(0) rotate(7deg);
    }
}
/* staff-in go to the back animation when sign-in at front */
/*@keyframes animateStaffIn {*/
/*    0% {*/
/*        transform: translateX(0);*/
/*        z-index: 1;*/
/*    }*/

/*    50% {*/
/*        transform: translateX(33rem);*/
/*    }*/

/*    100% {*/
/*        transform: translateX(0) rotate(14deg);*/
/*    }*/
/*}*/

h2 {
    font-size: 30px;
    color: #555;
    text-align: center;
}

.input-group {
    position: relative;
    width: 21rem;
    margin: 0.8rem 0;
}

.send-btn-frame{
    position: absolute;
    right: 0;
    top: 1%;
}

.send-email-btn{
    height: 2.5rem;
    width: 4rem;
    background: #67a0ff;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    border: none;
    outline: none;
    transition: all 0.3s ease;
}

.send-email-btn:hover{
    background: #1a2886;
}


.input-group label {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #333;
    padding: 0 5px;
    pointer-events: none;
    transition: .5s;
}

.input-group input {
    width: 100%;
    height: 2.5rem;
    font-size: 16px;
    color: #333;
    padding: 0 0.5rem;
    background: transparent;
    border: 1px solid #333;
    outline: none;
    border-radius: 5px;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: 0;
    font-size: 12px;
    background: #fff;
}

.forgot-pass {
    margin: -1.0rem 0 1.0rem;
}

.forgot-pass a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
}

.forgot-pass a:hover {
    text-decoration: underline;
}

.btn {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.5rem;
    background: linear-gradient(#67a0ff, #8edfff);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: all 0.3s ease;
}

.btn:hover {
    box-shadow: none;
    background: linear-gradient(#1a2886, #0268e1);
}

.sign-link {
    font-size: 14px;
    text-align: center;
    margin: 1.5rem 0;
}

.sign-link p {
    color: #333;
}

.sign-link p a {
    color: #e91e63;
    text-decoration: none;
    font-weight: 600;
}

.sign-link p a:hover {
    text-decoration: underline;
}

.wrong_error{
    font-size: 10px;
    height: 0.8rem;
    color: #f05924;
}
