
<!DOCTYPE html>
{#<!--[if lt IE 7]>      <html class="no-js <lt-ie9></lt-ie9> lt-ie8 lt-ie7"> <![endif]-->#}
{#<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->#}
{#<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->#}
<html class="no-js" lang="en"> 
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Group 7 About us</title>
		<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/image/travel.svg') }}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="HTML5 Template by NINETHEME" />
		<meta name="keywords" content="bootstrap, html5, css3, mobile first, responsive" />
		<meta name="author" content="NINETHEME.COM" />

		<!-- Facebook and Twitter integration -->
		<meta property="og:title" content=""/>
		<meta property="og:image" content=""/>
		<meta property="og:url" content=""/>
		<meta property="og:site_name" content=""/>
		<meta property="og:description" content=""/>
		<meta name="twitter:title" content="" />
		<meta name="twitter:image" content="" />
		<meta name="twitter:url" content="" />
		<meta name="twitter:card" content="" />

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,700|Montserrat:400,700|Open+Sans:300,300i,400,700,700i" rel="stylesheet">
		
		<!-- Animate.css -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/ab/reset.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/ab/animate.css') }}">
		<!-- Icomoon Icon Fonts-->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/ab/icomoon.css') }}">
		<!-- Magnific Popup-->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/ab/magnific-popup.css') }}">
		<!-- Owl Carousel -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/ab/owl.carousel.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/ab/owl.theme.default.min.css') }}">
		<!-- Bootstrap  -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/ab/bootstrap.css') }}">
		<!-- Timeline -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/ab/timeline.css') }}">
		<!-- Animated Headline -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/ab/animated-headline.css') }}">
		<!-- Opup Contact -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/ab/contact-popup.css') }}">
		<!-- Main Stylesheet -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/ab/main-style.css') }}">


	</head>
	<body>
	
	<!-- preloader -->
	<!-- <div class="preloader-container">
		<div class="la-ball-triangle-path la-2x">
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div> -->
	
	<div id="template-page">
		<nav class="template-nav-style-1" data-offcanvass-position="template-offcanvass-left">
			<div class="container">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 template-logo">
					<a href="#" class="js-template-mobile-toggle template-nav-toggle"><i></i></a>
					<a href="{{ url_for('customer.homepage') }}">Group 7</a>
				</div>
				<div class="col-lg-6 col-md-5 col-sm-5 text-center template-link-wrap">
					<ul data-offcanvass="yes">
						<li class="active"><a href="#about">About</a></li>
						<li><a href="#projects">Projects</a></li>
						<li><a href="#story">Milestones</a></li>
					</ul>
				</div>
			</div>
		</nav>


		<div class="template-cover template-cover-style-2 js-full-height section-class-scroll" data-stellar-background-ratio="0.5" data-next="yes"  style="background-image: url(../static/images/full_1.jpg);">
		  	<span class="scroll-btn wow" data-wow-duration="1s" data-wow-delay="1.4s">
				<a href="#">
					<span class="mouse"><span></span></span>
				</a>
			</span>
			<div class="template-overlay"></div>
			<div class="template-cover-text">
				<div class="container">
					<div class="row">
						<div class="col-lg-push-6 col-md-push-4 col-sm-push-0 col-md-6 full-height js-full-height">
							<div class="template-cover-intro">

								<h2 class="cd-headline hero-headline letters rotate-3">
									<span class="cd-words-wrapper"><b class="is-visible">Group7</b><b>quality</b><b>trust</b><b>passion</b></span>
								</h2>

								<h2 class="cover-text-sublead wow" data-wow-duration="1s" data-wow-delay=".8s">
									We are development Team 7, a passionate and trusting team.</h2>
								<h2 class="cover-text-sublead wow" data-wow-duration="1s" data-wow-delay=".8s">
									We encourage innovation, try new ideas, and work hard to achieve our goals.</h2>
								<h2 class="cover-text-sublead wow" data-wow-duration="1s" data-wow-delay=".8s">
									We are committed to providing quality products and services to our customers, constantly learning and improving.</h2>
								<h2 class="cover-text-sublead wow" data-wow-duration="1s" data-wow-delay=".8s">
									We believe that only through mutual cooperation and support can we succeed in COMP3030J !</h2>
								<p class="wow" data-wow-duration="1s" data-wow-delay="1.1s"><a href="#projects" class="btn btn-primary btn-outline btn-lg">See Our Work</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="about" class="template-project-style-2 section-class-scroll">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center">
						<h2 class="cd-headline slide">
							<span>Our priorities is </span>
							<span class="cd-words-wrapper"><b class="is-visible">passion</b><b>quality</b><b>trust</b></span>
						</h2>
					</div>

					<div class="col-md-4">
						<div class="fifth-border color-fourth colored-boxes lg-margin-b-30 border-radius-off">
							<span class="colored-lable wow absolute color-white bg-color-second" data-wow-duration="1s" data-wow-delay=".5s">Design</span>
							<h3 class="template-heading wow" data-wow-duration="1s" data-wow-delay=".5s">What we do?</h3>
							<p class="wow" data-wow-duration="1s" data-wow-delay=".8s">As a family-owned shop that previously relied on walk-in customers, it needs to enter the online market with a new website that meets requirements for ease of use, quality communication, and bilingual support.</p>
							<p class="wow" data-wow-duration="1s" data-wow-delay=".8s">For the sake of a successful transformation from a basic walk-in travel agency to an online shop, our software engineering team has been hired to design and develop a website that meets user requirements and basic functionalities.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fifth-border color-white border-color-blue  colored-boxes bg-color-blue lg-margin-b-30 border-radius-off">
							<h3 class="template-heading wow color-white" data-wow-duration="1s" data-wow-delay=".3s">Customer Portal</h3>
							<p class="wow" data-wow-duration="1s" data-wow-delay="1s">
								Provides information on travel destinations, attractions, reviews, and accommodation, as well as booking and planning tools.
							</p>
						</div>
						<div class="fifth-border color-white border-color-green  colored-boxes bg-color-green lg-margin-b-30 border-radius-off">
							<h3 class="template-heading wow color-white" data-wow-duration="1s" data-wow-delay=".3s">Staff Portal</h3>
							<p class="wow" data-wow-duration="1s" data-wow-delay="1s">Allows employees to organize, modify, prioritize, update, and keep track of bookings in the system.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fifth-border color-fourth colored-boxes lg-margin-b-30 border-radius-off">
							<span class="colored-lable wow absolute color-white bg-color-second" data-wow-duration="1s" data-wow-delay=".5s">Best idea</span>
							<h3 class="template-heading wow" data-wow-duration="1s" data-wow-delay=".5s">Our Best Projects</h3>
							<p class="wow" data-wow-duration="1s" data-wow-delay=".8s">Incorporate a map display feature into the website to help customers
								visualize their travel destinations and plan their trips more effectively.</p>
							<p class="wow " data-wow-duration="1s" data-wow-delay=".8s">To improve the customer using experiences, a smart chatting bot (AI
								customer service) is supported in our system. Reviews, machine learning based recommendations is
								also embedded.</p>
							<p class="wow" data-wow-duration="1s" data-wow-delay=".8s">There is an individual calendar for every customer to visualize
								his traveling planning</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="projects" class="template-project-style-2 section-class-scroll">
			<div class="container">
				<div class="row p-b">
					<div class="col-md-6 col-md-offset-3 text-center">
						<h2 class="template-heading wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">Our Best Projects</h2>
						<p class="wow" data-wow-duration="1s" data-wow-delay=".8s">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
						<p class="wow" data-wow-duration="1s" data-wow-delay="1.1s"><a href="{{ url_for('customer.homepage') }}" class="btn btn-success btn-lg">Our Project</a></p>
					</div>
				</div>
			</div>
			<div class="template-projects">
				<ul>
					<li class="wow fadeInUp" style="background-image: url(../static/images/full_4.jpg);" data-wow-duration="1s" data-wow-delay="0.4s" data-stellar-background-ratio="1">
						<a href="#">
							<div class="template-overlay"></div>
							<div class="container">
								<div class="template-text">
									<div class="template-text-inner">
										<div class="row">
											<div class="col-md-6"><h3>Project Name #1</h3></div>
											<div class="col-md-6"><p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p></div>
										</div>
									</div>
								</div>
							</div>
						</a>
					</li>
					<li class="wow fadeInUp" style="background-image: url(../static/images/full_2.jpg);" data-wow-duration="1s" data-wow-delay="0.7s" data-stellar-background-ratio="1">
						<a href="#">
							<div class="template-overlay"></div>
							<div class="container">
								<div class="template-text">
									<div class="template-text-inner">
										<div class="row">
											<div class="col-md-6"><h3>Project Name #2</h3></div>
											<div class="col-md-6"><p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p></div>
										</div>
									</div>
								</div>
							</div>
						</a>
					</li>
					<li class="wow fadeInUp" style="background-image: url(../static/images/full_1.jpg);" data-wow-duration="1s" data-wow-delay="1s" data-stellar-background-ratio="1">
						<a href="#">
							<div class="template-overlay"></div>
							<div class="container">
								<div class="template-text">
									<div class="template-text-inner">
										<div class="row">
											<div class="col-md-6"><h3>Project Name #3</h3></div>
											<div class="col-md-6"><p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p></div>
										</div>
									</div>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div id="story" class="cd-horizontal-timeline">
			<div class="container">
				<div class="row p-b">
					<div class="col-md-6 col-md-offset-3 text-center">
						<h2 class="template-heading wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Milestones.</h2>
						<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">We follow the plan we made at the beginning of this project</p>
					</div>
				</div>
			</div>
			<div class="timeline">
				<div class="events-wrapper">
					<div class="events">
						<ol>
							<li><a href="#0" data-date="16/01/2014" class="selected">16 Jan</a></li>
							<li><a href="#0" data-date="28/02/2014">28 Feb</a></li>
							<li><a href="#0" data-date="20/04/2014">20 Mar</a></li>
							<li><a href="#0" data-date="20/05/2014">20 May</a></li>
							<li><a href="#0" data-date="09/07/2014">09 Jul</a></li>
							<li><a href="#0" data-date="30/08/2014">30 Aug</a></li>
							<li><a href="#0" data-date="15/09/2014">15 Sep</a></li>
							<li><a href="#0" data-date="01/11/2014">01 Nov</a></li>
							<li><a href="#0" data-date="10/12/2014">10 Dec</a></li>
							<li><a href="#0" data-date="19/01/2015">29 Jan</a></li>
							<li><a href="#0" data-date="03/03/2015">3 Mar</a></li>
						</ol>

						<span class="filling-line" aria-hidden="true"></span>
					</div> <!-- .events -->
				</div> <!-- .events-wrapper -->

				<ul class="cd-timeline-navigation">
					<li><a href="#0" class="prev inactive">Prev</a></li>
					<li><a href="#0" class="next">Next</a></li>
				</ul> <!-- .cd-timeline-navigation -->
			</div> <!-- .timeline -->

			<div class="events-content">
				<ol>
					<li class="selected" data-date="16/01/2014">
						<h2>MileStone 1</h2>
						<em>January 16th, 2014</em>
						<p>
							In the first milestone, we are required to finish collecting, organizing and documenting user requirements. Further system design and UI design based on requirements need to be finished in these requirements as well.						</p>
					</li>

					<li data-date="28/02/2014">
						<h2>MileStone 2</h2>
						<em>February 28th, 2014</em>
						<p>
							In the second milestone, we are supposed to finish the basic web pages including the customer portal and staff portal. Basic functionalities (front-end \& back-end) like login and sign up, staff login, tour-related information presentation and staff data presentation need to be completed in this milestone.						</p>
					</li>

					<li data-date="20/04/2014">
						<h2>Then we were very excited.</h2>
						<em>March 20th, 2014</em>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
						</p>
					</li>

					<li data-date="20/05/2014">
						<h2>Event title here</h2>
						<em>May 20th, 2014</em>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
						</p>
					</li>

					<li data-date="09/07/2014">
						<h2>Event title here</h2>
						<em>July 9th, 2014</em>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
						</p>
					</li>

					<li data-date="30/08/2014">
						<h2>Event title here</h2>
						<em>August 30th, 2014</em>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
						</p>
					</li>

					<li data-date="15/09/2014">
						<h2>Event title here</h2>
						<em>September 15th, 2014</em>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
						</p>
					</li>

					<li data-date="01/11/2014">
						<h2>Event title here</h2>
						<em>November 1st, 2014</em>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
						</p>
					</li>

					<li data-date="10/12/2014">
						<h2>Event title here</h2>
						<em>December 10th, 2014</em>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
						</p>
					</li>

					<li data-date="19/01/2015">
						<h2>Event title here</h2>
						<em>January 19th, 2015</em>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
						</p>
					</li>

					<li data-date="03/03/2015">
						<h2>Event title here</h2>
						<em>March 3rd, 2015</em>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
						</p>
					</li>
				</ol>
			</div> <!-- .events-content -->
		</div>

		<div class="template-features-style-1 section-class-scroll" style="background-image: url(../static/images/full_4.jpg);" data-stellar-background-ratio="1" data-stellar-vertical-offset="0">
			<div class="template-overlay"></div>
			<div class="container" style="z-index: 3; position: relative;">
				<div class="row p-b">
					<div class="col-md-8 col-md-offset-2 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
						<h2 class="cd-headline letters rotate-3">
							<span>We work together do</span>
							<span class="cd-words-wrapper"><b class="is-visible">strategy</b><b>implementation</b><b>design</b></span>
						</h2>
					</div>
				</div>
				<div class="row">
					<div class="template-features">
						<div class="template-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
							<div class="icon">
								<img src="{{ url_for('static', filename='images/lth.png') }}" style="min-height: 200px;min-width: 150px;max-height:200px;max-width:150px;">
<!--								<i class="icon-ribbon"></i>-->
							</div>
							<h3>Group Leader</h3>
							<h3>Backend developer</h3>
							<p>TianHao Liu</p>
						</div>
						<div class="template-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
							<div class="icon">
								<img src="{{ url_for('static', filename='images/gzq.jpg') }}" style="min-height: 200px;min-width: 150px;max-height:200px;max-width:150px;">
							</div>
								<h3>Maintainer</h3>
							<h3>Backend manager</h3>
							<p>Ziqi Guo</p>
						</div>
						<div class="template-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
							<div class="icon">
								<img src="{{ url_for('static', filename='images/lzx.jpg') }}" style="min-height: 200px;min-width: 150px;max-height:200px;max-width:150px;">
							</div>
							<h3>Resource Manager</h3>
							<h3>Backend developer </h3>
							<p>ZeXuan Lv</p>
						</div>

						<div class="template-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">
							<div class="icon">
								<img src="{{ url_for('static', filename='images/zyc.png') }}" style="min-height: 200px;min-width: 150px;max-height:200px;max-width:150px;">
							</div>
							<h3>Testing Engineer</h3>
							<h3>Frontend manager</h3>
							<p>Yuchen Zhang</p>
						</div>
						<div class="template-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
							<div class="icon">
								<img src="{{ url_for('static', filename='images/xzy.jpg') }}" style="min-height: 200px;min-width: 150px;max-height:200px;max-width:150px;">
							</div>
							<h3>Project Manager</h3>
							<h3>Frontend developer</h3>
							<p>Zhiyou Xiao</p>
						</div>
						<div class="template-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.3s">
							<div class="icon">
								<img src="{{ url_for('static', filename='images/sq.jpg') }}" style="min-height: 200px;min-width: 150px;max-height:200px;max-width:150px;">
							</div>
							<h3>Project Manager</h3>
							<h3>Frontend developer</h3>
							<p>Qi Sun</p>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="template-features-style-2 section-class-scroll">
			<div class="container">
				<div class="row p-b">
					<div class="col-md-6 col-md-offset-3 text-center">
						<h2 class="template-heading wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">Why Choose Us</h2>
						<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-12 col-xxs-12 template-feature wow fadeInUp equalize" data-wow-duration="1s" data-wow-delay=".1s">
					<div class="template-icon"><i class="icon-command"></i></div>
					<div class="template-desc">
						<h3>100% HTML5<span> This is best!</span></h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.   there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
					</div>	
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 col-xxs-12 template-feature wow fadeInUp equalize" data-wow-duration="1s" data-wow-delay=".2s">
					<div class="template-icon"><i class="icon-eye22"></i></div>
					<div class="template-desc">
						<h3>Retina Ready<span> This is best!</span></h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
					</div>
				</div>
				<div class="clearfix visible-sm-block visible-xs-block"></div>
				<div class="col-md-4 col-sm-6 col-xs-12 col-xxs-12 template-feature wow fadeInUp equalize" data-wow-duration="1s" data-wow-delay=".3s">
					<div class="template-icon"><i class="icon-toggle"></i></div>
					<div class="template-desc">
						<h3>Fully Responsive<span> This is best!</span></h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 col-xxs-12 template-feature wow fadeInUp equalize" data-wow-duration="1s" data-wow-delay=".4s">
					<div class="template-icon"><i class="icon-archive22"></i></div>
					<div class="template-desc">
						<h3>Lightweight<span> This is best!</span></h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
					</div>	
				</div>
				<div class="clearfix visible-sm-block visible-xs-block"></div>
				<div class="col-md-4 col-sm-6 col-xs-12 col-xxs-12 template-feature wow fadeInUp equalize" data-wow-duration="1s" data-wow-delay=".5s">
					<div class="template-icon"><i class="icon-heart22"></i></div>
					<div class="template-desc">
						<h3>Made with Love<span> This is best!</span></h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 col-xxs-12 template-feature wow fadeInUp equalizeequalize" data-wow-duration="1s" data-wow-delay=".6s">
					<div class="template-icon"><i class="icon-umbrella"></i></div>
					<div class="template-desc">
						<h3>Eco Friendly<span> This is best!</span></h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
					</div>
				</div>
				<div class="clearfix visible-sm-block visible-xs-block"></div>
				</div>
			</div>
		</div>

		<div id="contact" class="template-footer-style-3 section-class-scroll">
			<div class="container">
				<div class="row template-made">
					<div class="col-md-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
						<p>&copy; 2023 Group 7. All Rights Reserved. <i class="heart icon-heart"></i> in BDIC</p>
					</div>
				</div>
			</div>
		</div>
		<!-- END footer -->
		
	</div>
	<!-- END page-->
	
	<!-- cd-quick-view -->
	<div class="cd-quick-view">
		<div class="cd-slider-wrapper">
			<ul class="cd-slider">
				<iframe src="http://www.google.cn/maps/embed?pb=!1m18!1m12!1m3!1d3195.260740061601!2d34.566047051606795!3d36.78829837596946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1527f4cec1a085d7%3A0x9f92f05107cba11b!2sMente%C5%9F%2C+2597.+Sk.+No%3A5%2C+33150+Yeni%C5%9Fehir%2FMersin!5e0!3m2!1str!2str!4v1470658683730" width="450" height="450" ></iframe>
			</ul> <!-- cd-slider -->
		</div> <!-- cd-slider-wrapper -->

		<div class="cd-item-info">
			<h2>Our Contact Details</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, omnis illo iste ratione. Numquam eveniet quo, ullam itaque expedita impedit. Eveniet, asperiores amet iste repellendus similique reiciendis, maxime laborum praesentium.</p>
			<h2>Contact Us</h2>
			<ul class="cd-item-action">
				<li><i class="icon icon-location"></i>Lorem ipsum dolor sit amet</li>					
				<li><i class="icon icon-hour-glass"></i>Lorem ipsum dolor sit amet</li>					
				<li><i class="icon icon-phone"></i>Lorem ipsum dolor sit amet</li>					
			</ul> <!-- cd-item-action -->
		</div> <!-- cd-item-info -->
		<a href="#0" class="cd-close">Close</a>
	</div> <!-- cd-quick-view -->

    <!-- Modernizr JS -->
    <script src="{{ url_for('static', filename='js/ab/modernizr.js') }}"></script>

		<!-- FOR IE9 below -->
		<!--[if lt IE 9]>
	<script src="{{ url_for('static', filename='js/ab/respond.min.js') }}"></script>
		<![endif]-->
	<!-- jQuery -->
	<script src="{{ url_for('static', filename='js/ab/jquery.min.js') }}"></script>
	<!-- jQuery Easing -->
	<script src="{{ url_for('static', filename='js/ab/jquery.easing.1.3.js') }}"></script>
	<!-- Bootstrap -->
	<script src="{{ url_for('static', filename='js/ab/bootstrap.min.js') }}"></script>
	<!-- Waypoints -->
   <script src="{{ url_for('static', filename='js/ab/jquery.waypoints.min.js') }}"></script>
	<!-- Owl Carousel -->
	<script src="{{ url_for('static', filename='js/ab/owl.carousel.min.js') }}"></script>
	<!-- Magnific Popup -->
	<script src="{{ url_for('static', filename='js/ab/jquery.magnific-popup.min.js') }}"></script>
	<!-- Stellar -->
	<script src="{{ url_for('static', filename='js/ab/jquery.stellar.min.js') }}"></script>
	<!-- countTo -->
	<script src="{{ url_for('static', filename='js/ab/jquery.countTo.js') }}"></script>
	<script src="{{ url_for('static', filename='js/ab/timeline.js') }}"></script>
	<!-- WOW -->
	<script src="{{ url_for('static', filename='js/ab/wow.min.js') }}"></script>
	<script>
		new WOW().init();
	</script>
	<!-- animated headline -->
	<script src="{{ url_for('static', filename='js/ab/animated-headline.js') }}"></script>
	<!-- velocity -->
	<script src="{{ url_for('static', filename='js/ab/velocity.min.js') }}"></script>
	<!-- popup contact -->
	<script src="{{ url_for('static', filename='js/ab/contact-popup.js') }}"></script>
	<!-- Main -->
	<script src="{{ url_for('static', filename='js/ab/main-settings.js') }}"></script>
	
	</body>
</html>
