{% extends "MainTopbar.html" %}
{% block title %} Activity Add Page {% endblock %}

{% block csslink %}
    <link rel="stylesheet" href="../static/css/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/assets/css/all-fontawesome.min.css">
    <link rel="stylesheet" href="../static/css/assets/css/flaticon.css">
    <link rel="stylesheet" href="../static/css/assets/css/animate.min.css">
    <link rel="stylesheet" href="../static/css/assets/css/magnific-popup.min.css">
    <link rel="stylesheet" href="../static/css/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/assets/css/nice-select.min.css">
    <link rel="stylesheet" href="../static/css/assets/css/jquery-ui.min.css">
    <link rel="stylesheet" href="../static/css/assets/css/jquery.timepicker.min.css">
    <link rel="stylesheet" href="../static/css/assets/css/style.css">
{% endblock %}



{% block body %}

    <main class="main">

    <div class="site-breadcrumb" style="background: url(../static/img/breadcrumb/01.jpg)">
        <div class="container">
            <h2 class="breadcrumb-title">Add Activity</h2>
            <ul class="breadcrumb-menu">
                <li><a href="index.html">Home</a></li>
                <li class="active">Add Activity</li>
            </ul>
        </div>
    </div>

    <div class="user-profile py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="user-profile-sidebar">
                        <div class="user-profile-sidebar-top">
                            <div class="user-profile-img">
                                <img src="../static/img/account/user.jpg" alt="">
                                <button type="button" class="profile-img-btn"><i class="far fa-camera"></i></button>
                                <input type="file" class="profile-img-file">
                            </div>
                            <h4>Antoni Jonson</h4>
                            <p><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                  data-cfemail="90fafffee3fffed0f5e8f1fde0fcf5bef3fffd">[email&#160;protected]</a></p>
                        </div>
                        <ul class="user-profile-sidebar-list">
                            <li><a href="dashboard.html"><i class="far fa-gauge-high"></i> Dashboard</a></li>
                            <li><a href="profile.html"><i class="far fa-user"></i> My Profile</a></li>
                            <li><a href="profile-booking.html"><i class="far fa-shopping-bag"></i> My Booking</a></li>
                            <li><a href="profile-booking-history.html"><i class="far fa-clipboard-list"></i> Booking
                                History</a></li>
                            <li><a href="profile-listing.html"><i class="far fa-globe"></i> My Listing</a></li>
                            <li class="profile-menu">
                                <a class="active" href="#profile-menu" data-bs-toggle="collapse" aria-expanded="false"
                                   aria-controls="profile-menu">
                                    <i class="far fa-plus-circle"></i> Add Listing <i
                                        class="far fa-angle-down profile-menu-angle"></i>
                                </a>
                                <div class="collapse" id="profile-menu">
                                    <ul class="profile-menu-list">
                                        <li><a href="flight-add.html">Add Flight</a></li>
                                        <li><a href="hotel-add.html">Add Hotel</a></li>
                                        <li><a href="hotel-room-add.html">Add Hotel Room</a></li>
                                        <li><a href="activity-add.html">Add Activity</a></li>
                                        <li><a href="car-add.html">Add Car</a></li>
                                        <li><a href="cruise-add.html">Add Cruise</a></li>
                                        <li><a href="tour-add.html">Add Tour</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="profile-wishlist.html"><i class="far fa-heart"></i> My Wishlist</a></li>
                            <li><a href="profile-message.html"><i class="far fa-envelope"></i> Messages <span
                                    class="badge">02</span></a></li>
                            <li><a href="profile-wallet.html"><i class="far fa-wallet"></i> My Wallet</a></li>
                            <li><a href="profile-notification.html"><i class="far fa-bell"></i> Notifications <span
                                    class="badge">05</span></a></li>
                            <li><a href="profile-setting.html"><i class="far fa-cog"></i> Settings</a></li>
                            <li><a href="#"><i class="far fa-sign-out"></i> Logout</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="user-profile-wrapper">
                        <div class="user-profile-card add-listing">
                            <h4 class="user-profile-card-title">Add Activity</h4>
                            <div class="col-lg-12">
                                <div class="add-listing-form">
                                    <h5 class="mb-4">Basic Information</h5>
                                    <form action="{{ url_for('activity.add_activity') }}">
                                        <div class="row align-items-center">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Official Place Name</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="Enter total rooms">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Activity Category</label>
                                                    <select class="select">
                                                        <option value="">Select Category</option>
                                                        <option value="1">Category 1</option>
                                                        <option value="2">Category 2</option>
                                                        <option value="3">Category 3</option>
                                                        <option value="4">Category 4</option>
                                                        <option value="5">Category 5</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Price</label>
                                                    <input type="text" class="form-control" placeholder="Enter price">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Price Currency</label>
                                                    <select class="select">
                                                        <option value="">Select Currency</option>
                                                        <option value="1">USD</option>
                                                        <option value="2">GBP</option>
                                                        <option value="3">EUR</option>
                                                        <option value="4">CAD</option>
                                                        <option value="5">AUD</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <h5 class="my-4">Location</h5>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>City</label>
                                                    <input type="text" class="form-control" placeholder="Enter city">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>State</label>
                                                    <input type="text" class="form-control" placeholder="Enter state">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Zip Code</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="Enter zip code">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label>Address</label>
                                                    <input type="text" class="form-control" placeholder="Enter address">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label>Address 2</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="Enter address 2">
                                                </div>
                                            </div>
                                            <h5 class="my-4">Your Activity Information</h5>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Duration</label>
                                                    <select class="select">
                                                        <option value="">Select Duration</option>
                                                        <option value="1">1 Day</option>
                                                        <option value="2">2 Days</option>
                                                        <option value="3">3 Days</option>
                                                        <option value="4">4 Days</option>
                                                        <option value="5">5 Days</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Group Size</label>
                                                    <select class="select">
                                                        <option value="">Select Group Size</option>
                                                        <option value="1">10 People</option>
                                                        <option value="2">20 People</option>
                                                        <option value="3">30 People</option>
                                                        <option value="4">40 People</option>
                                                        <option value="5">50 People</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Activity Type</label>
                                                    <select class="select">
                                                        <option value="">Select Activity Type</option>
                                                        <option value="1">Activity Type 1</option>
                                                        <option value="2">Activity Type 2</option>
                                                        <option value="3">Activity Type 3</option>
                                                        <option value="4">Activity Type 4</option>
                                                        <option value="5">Activity Type 5</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>From Date</label>
                                                    <div class="form-group-icon">
                                                        <input type="text" class="form-control date-picker"
                                                               placeholder="MM/DD/YY">
                                                        <i class="far fa-calendar-days"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>To Date</label>
                                                    <div class="form-group-icon">
                                                        <input type="text" class="form-control date-picker"
                                                               placeholder="MM/DD/YY">
                                                        <i class="far fa-calendar-days"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Min Age</label>
                                                    <input type="text" class="form-control" placeholder="Enter age">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label>Pick Up Location</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="Enter pickup location">
                                                </div>
                                            </div>
                                            <h5 class="my-4">Upload Images</h5>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <div class="listing-upload-wrapper">
                                                        <div class="listing-img-upload">
                                                            <span><i
                                                                    class="far fa-images"></i> Upload listing Images</span>
                                                        </div>
                                                        <input type="file" class="listing-img-file" multiple>
                                                    </div>
                                                </div>
                                            </div>
                                            <h5 class="my-4">Detailed Information</h5>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea class="form-control" placeholder="Write description"
                                                              cols="30" rows="5"></textarea>
                                                </div>
                                            </div>
                                            <h5 class="my-4">Included</h5>
                                            <div class="col-6 col-md-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" name="included" type="checkbox"
                                                           value="" id="included1">
                                                    <label class="form-check-label" for="included1">
                                                        Airfare
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" name="included" type="checkbox"
                                                           value="" id="included2">
                                                    <label class="form-check-label" for="included2">
                                                        Local Transportation
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" name="included" type="checkbox"
                                                           value="" id="included3">
                                                    <label class="form-check-label" for="included3">
                                                        Accommodation
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" name="included" type="checkbox"
                                                           value="" id="included4">
                                                    <label class="form-check-label" for="included4">
                                                        Tour Guide
                                                    </label>
                                                </div>
                                            </div>
                                            <h5 class="my-4">Not Included</h5>
                                            <div class="col-6 col-md-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" name="not-included" type="checkbox"
                                                           value="" id="not-included1">
                                                    <label class="form-check-label" for="not-included1">
                                                        Entrance Fees
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" name="not-included" type="checkbox"
                                                           value="" id="not-included2">
                                                    <label class="form-check-label" for="not-included2">
                                                        Guide Gratuity
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" name="not-included" type="checkbox"
                                                           value="" id="not-included3">
                                                    <label class="form-check-label" for="not-included3">
                                                        Lunch
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" name="not-included" type="checkbox"
                                                           value="" id="not-included4">
                                                    <label class="form-check-label" for="not-included4">
                                                        Dinner
                                                    </label>
                                                </div>
                                            </div>
                                            <h5 class="my-4">Activity Open Hours</h5>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>Monday</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="Enter Open Hours">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>Tuesday</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="Enter Open Hours">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>Wednesday</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="Enter Open Hours">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>Thursday</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="Enter Open Hours">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>Friday</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="Enter Open Hours">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>Saturday</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="Enter Open Hours">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>Sunday</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="Enter Open Hours">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>Visit Hour</label>
                                                    <select class="select">
                                                        <option value="">Select Visit Hour</option>
                                                        <option value="1">1 Hour</option>
                                                        <option value="2">1-2 Hours</option>
                                                        <option value="3">1-3 Hours</option>
                                                        <option value="4">1-4 Hours</option>
                                                        <option value="5">More Than 4 Hours</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <h5 class="my-4">Contact Information</h5>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input type="text" class="form-control" placeholder="Enter name">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <input type="text" class="form-control" placeholder="Enter email">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Phone</label>
                                                    <input type="text" class="form-control" placeholder="Enter phone">
                                                </div>
                                            </div>
                                            <div class="col-12 mt-4">
                                                <div class="form-check">
                                                    <input class="form-check-input" name="agree" type="checkbox"
                                                           value="" id="agree">
                                                    <label class="form-check-label" for="agree">
                                                        I Agree With Your Terms Of Services And Privacy Policy.
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 my-4">
                                                <button type="submit" class="theme-btn">Submit Your Activity</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock %}



{% block jsLink %}
    <script src="../static/css/assets/js/jquery-3.6.0.min.js"></script>
    <script src="../static/css/assets/js/modernizr.min.js"></script>
    <script src="../static/css/assets/js/bootstrap.bundle.min.js"></script>
    <script src="../static/css/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="../static/css/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/css/assets/js/isotope.pkgd.min.js"></script>
    <script src="../static/css/assets/js/jquery.appear.min.js"></script>
    <script src="../static/css/assets/js/jquery.easing.min.js"></script>
    <script src="../static/css/assets/js/owl.carousel.min.js"></script>
    <script src="../static/css/assets/js/counter-up.js"></script>
    <script src="../static/css/assets/js/masonry.pkgd.min.js"></script>
    <script src="../static/css/assets/js/jquery.nice-select.min.js"></script>
    <script src="../static/css/assets/js/jquery-ui.min.js"></script>
    <script src="../static/css/assets/js/jquery.timepicker.min.js"></script>
    <script src="../static/css/assets/js/wow.min.js"></script>
    <script src="../static/css/assets/js/main.js"></script>
{% endblock %}