{% extends "base.html" %}
{% block title %} Booking Confirm {% endblock %}

{% block csslink %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/all-fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/flaticon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/magnific-popup.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/nice-select.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/jquery.timepicker.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/style.css') }}">

{% endblock %}

{% block body %}

    <main class="main">

        <div class="site-breadcrumb" style="background: url({{ url_for('static', filename='css/assets/img/breadcrumb/01.jpg') }})">
        
        </div>

        <div class="booking-confirm py-120">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <div class="booking-confirm-content">
                            <div class="booking-confirm-icon"><i class="far fa-check"></i></div>
                            <h3>Your Booking {{ name }} Is Confirmed.</h3>
                            <p>Have a look about other interesting activities and tour plans!</p>
                            <a href="{{ url_for('customer.profile') }}" class="theme-btn">See order detail<i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

{% endblock %}

{% block jsLink %}
    <script src="{{ url_for('static', filename='css/assets/js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/modernizr.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/jquery.appear.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/counter-up.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/masonry.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/jquery.nice-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/jquery.timepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/main.js') }}"></script>
{% endblock %}