
<div class="chatposition">
    <div class="chat  listneg"id="notebook">
    <div class="chat-title">
        <div>
            <figure class="avatar">
                <img src="../static/image/robot.svg" /></figure>
        </div>
        
        <div style="display: grid; grid-template-columns: 90% 10%;">
            <div>
                <h1>Travel Agency Name</h1>
                <h2>24H chat robot</h2>
            </div>
          
        <a href="javascript:void(0)" onclick="btnfold()" id="btnfold">
        <img class="icons close" src="../static/image/close.svg" style="width: 10px;height: 10px;"></a>
        </div>
      
      
      
        
    </div>
    <div class="messages">
      <div class="messages-content"></div>
    </div>
    <div class="message-box">
      <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
      <button type="submit" class="message-submit">Send</button>
    </div>
  
  </div>
  <div class="bg"></div>
</div>

<a id="shopincart" href="javascript:void(0)" onclick="btnunfold()">
  <img class="sicons" src="../static/image/chat.svg" style="width: 65%;height: 35%;">
</a>
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="../static/js/chat.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.concat.min.js'></script>