<!DOCTYPE html>
<html class="no-js" lang="en" data-theme="light">

{% extends "BaseManager.html" %}
{% block title %} Manager Activities {% endblock %}

{# head数据均放在该block里 #}
{% block csslink %}
{% endblock %}

{% block body %}
    <div class="sidebar-backdrop"></div>
    <div class="page-wrapper">
        <main class="page-content">
            <div class="container">
                <div class="page-header">
                    <h1 class="page-header__title">{{ _("Customer Contacts ") }}<span class="text-grey"></span></h1>
                </div>
                <div class="page-tools">
                    <div class="page-tools__right">
                        <ul class="page-tools__right-row nav" role="tablist">
{#                            <li class="page-tools__right-item"><a class="button-icon" href="#tab-grid" data-toggle="tab"><span class="button-icon__icon">#}
{#                      <svg class="icon-icon-grid">#}
{#                        <use xlink:href="#icon-grid"></use>#}
{#                      </svg></span></a>#}
{#                            </li>#}
{#                            <li class="page-tools__right-item"><a class="button-icon active" href="#tab-list" data-toggle="tab"><span class="button-icon__icon">#}
{#                      <svg class="icon-icon-list">#}
{#                        <use xlink:href="#icon-list"></use>#}
{#                      </svg></span></a>#}
{#                            </li>#}
                        </ul>
                    </div>
                </div>
                <div class="toolbox">
                    <div class="toolbox__row row gutter-bottom-xs">
{#                        <div class="toolbox__left col-12 col-lg">#}
{#                            <div class="toolbox__left-row row row--xs gutter-bottom-xs">#}
{#                                <div class="form-group form-group--inline col-12 col-sm-auto">#}
{#                                    <label class="form-label">Show</label>#}
{#                                    <div class="input-group input-group--white input-group--append">#}
{#                                        <input class="input input--select" type="text" value="10" size="1" data-toggle="dropdown" readonly><span class="input-group__arrow">#}
{#                        <svg class="icon-icon-keyboard-down">#}
{#                          <use xlink:href="#icon-keyboard-down"></use>#}
{#                        </svg></span>#}
{#                                        <div class="dropdown-menu dropdown-menu--right dropdown-menu--fluid js-dropdown-select"><a class="dropdown-menu__item active" href="#" tabindex="0" data-value="10">10</a><a class="dropdown-menu__item" href="#" tabindex="0" data-value="15">15</a><a class="dropdown-menu__item" href="#" tabindex="0" data-value="20">20</a>#}
{#                                            <a#}
{#                                            class="dropdown-menu__item" href="#" tabindex="0" data-value="25">25</a><a class="dropdown-menu__item" href="#" tabindex="0" data-value="50">50</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="form-group form-group--inline col-12 col-sm-auto">#}
{#                                    <div class="toolbox__status input-group input-group--white input-group--append">#}
{#                                        <input class="input input--select" type="text" value="Newest" data-toggle="dropdown" readonly><span class="input-group__arrow">#}
{#                        <svg class="icon-icon-keyboard-down">#}
{#                          <use xlink:href="#icon-keyboard-down"></use>#}
{#                        </svg></span>#}
{#                                        <div class="dropdown-menu dropdown-menu--right dropdown-menu--fluid js-dropdown-select"><a class="dropdown-menu__item active" href="#" tabindex="0" data-value="Newest">Newest</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                        <div class="toolbox__right col-12 col-lg-auto">
                            <div class="toolbox__right-row row row--xs flex-nowrap">
                                <div class="col col-lg-auto">
                                    <form class="toolbox__search" method="GET">
                                        <div class="input-group input-group--white input-group--prepend">
                                            <div class="input-group__prepend">
                                                <svg class="icon-icon-search">
                                                    <use xlink:href="#icon-search"></use>
                                                </svg>
                                            </div>
                                            <input id="search_box" class="input" oninput="search_customers()" type="text" placeholder="{{ _('Search Contacts') }}">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-wrapper tab-content">
                    <div class="tab-pane fade active show" id="tab-grid">
                        <div class="table-wrapper__content table-collapse scrollbar-thin scrollbar-visible" data-simplebar>
                            <table class="table table--spaces">
                                <colgroup>
                                    <col width="70px">
                                        <col>
                                            <col>
                                                <col>
                                                    <col>
                                                        <col>
                                </colgroup>
                                <thead class="table__header">
                                    <tr class="table__header-row">
                                        <th>
                                            <div class="table__checkbox table__checkbox--all">
                                                <label class="checkbox">
                                                    <input class="js-checkbox-all" type="checkbox" data-checkbox-all="product"><span class="checkbox__marker"><span class="checkbox__marker-icon">
                                <svg class="icon-icon-checked">
                                  <use xlink:href="#icon-checked"></use>
                                </svg></span></span>
                                                </label>
                                            </div>
                                        </th>
                                        <th class="table__th-sort mw-200"><span class="align-middle">{{ _("Name") }}</span><span class="sort sort--down"></span>
                                        </th>
                                        <th class="table__th-sort"><span class="align-middle">{{ _("Email") }}</span><span class="sort sort--down"></span>
                                        </th>
                                        <th class="table__th-sort"><span class="align-middle">{{ _("Wallet") }}</span><span class="sort sort--down"></span>
                                        </th>
                                        <th class="table__th-sort"><span class="align-middle">{{ _("Phone") }}</span><span class="sort sort--down"></span>
                                        </th>
                                        <th class="table__actions"></th>
                                    </tr>
                                </thead>
                                <tbody id="item-container">

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="table-wrapper__footer">
                        <div class="row">
                            <div class="table-wrapper__show-result col text-grey"><span class="d-none d-sm-inline-block">Showing</span> 1 to 10 <span class="d-none d-sm-inline-block">of 50 items</span>
                            </div>
                            <div class="table-wrapper__pagination col-auto">
                                <ol class="pagination">
                                    <li class="pagination__item">
                                        <a class="pagination__arrow pagination__arrow--prev" href="#">
                                            <svg class="icon-icon-keyboard-left">
                                                <use xlink:href="#icon-keyboard-left"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="pagination__item active"><a class="pagination__link" href="#">1</a>
                                    </li>
                                    <li class="pagination__item"><a class="pagination__link" href="#">2</a>
                                    </li>
                                    <li class="pagination__item"><a class="pagination__link" href="#">3</a>
                                    </li>
                                    <li class="pagination__item pagination__item--dots">...</li>
                                    <li class="pagination__item"><a class="pagination__link" href="#">10</a>
                                    </li>
                                    <li class="pagination__item">
                                        <a class="pagination__arrow pagination__arrow--next" href="#">
                                            <svg class="icon-icon-keyboard-right">
                                                <use xlink:href="#icon-keyboard-right"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}

<!-- jQuery and JavaScript Bundle with Popper -->
{% block jsLink %}
    <script src="{{ url_for('node_file_for_search', filename='node_modules/fuse.js/dist/fuse.basic.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/load_customers.js') }}"></script>
{% endblock %}