<!DOCTYPE html>
<html class="no-js" lang="en" data-theme="light">

{% extends "BaseManager.html" %}
{% block title %} Manager Dashboard {% endblock %}

{# head数据均放在该block里 #}
{% block csslink %}
{% endblock %}

{% block body %}
    <div class="sidebar-backdrop"></div>
    <div class="page-wrapper">
        <main class="page-content">
            <div class="container">
                <div class="widgets">
                    <div class="widgets__row row gutter-bottom-xl">
                        <div class="col-12 col-md-6 col-xl-4 d-flex">
                            <div class="widget">
                                <div class="widget__wrapper">
                                    <div class="widget__row">
                                        <div class="widget__left">
                                            <h3 class="widget__title">Comments</h3>
                                            <div class="widget__status-title text-grey"> Comments Today</div>
                                            <div class="widget__trade"><span class="widget__trade-count">{{ upper_data.reviews_today }}</span>
                                            </div>

                                        </div>
                                        <div class="widget__chart">
                                            <div class="widget__chart-inner">
                                                <div class="widget__chart-percentage">{{ upper_data.reviews_percent }}<small>%</small>
                                                </div>
                                                <div class="widget__chart-caption"> New Comments</div>
                                            </div>
                                            <div class="widget__chart-canvas js-progress-circle" data-value="{{ upper_data.reviews_percent / 100 }}" data-color="#22CCE2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-4 d-flex">
                            <div class="widget">
                                <div class="widget__wrapper">
                                    <div class="widget__row">
                                        <div class="widget__left">
                                            <h3 class="widget__title">Bookings</h3>
                                            <div class="widget__status-title text-grey"> Bookings Today</div>
                                            <div class="widget__trade"><span class="widget__trade-count">{{ upper_data.order_today }}</span>
                                            </div>

                                        </div>
                                        <div class="widget__chart">
                                            <div class="widget__chart-inner">
                                                <div class="widget__chart-percentage">{{ upper_data.order_percent }}<small>%</small>
                                                </div>
                                                <div class="widget__chart-caption">New Bookings</div>
                                            </div>
                                            <div class="widget__chart-canvas js-progress-circle" data-value="{{ upper_data.order_percent / 100}}" data-color="#FDBF5E"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-4 d-flex">
                            <div class="widget">
                                <div class="widget__wrapper">
                                    <div class="widget__row">
                                        <div class="widget__left">
                                            <h3 class="widget__title">Sign-Ups</h3>
                                            <div class="widget__status-title text-grey"> Sign-Ups Today</div>
                                            <div class="widget__trade"><span class="widget__trade-count">{{ upper_data.customer_today }}</span>
                                            </div>
                                        </div>
                                        <div class="widget__chart">
                                            <div class="widget__chart-inner">
                                                <div class="widget__chart-percentage">{{ upper_data.customer_percent }}<small>%</small>
                                                </div>
                                                <div class="widget__chart-caption">New Sign-Ups</div>
                                            </div>
                                            <div class="widget__chart-canvas js-progress-circle" data-value="{{ upper_data.customer_percent / 100 }}" data-color="#FF3D57"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="section">
                    <div class="section__title d-none">
                        <h2>Section</h2>
                    </div>
                    <div class="row justify-content-center gutter-bottom-xl">
                        <div class="col-12 col-lg-7 col-xl-8 d-flex">
                            <div class="card">
                                <div class="card__wrapper">
                                    <div class="card__container">
                                        <div class="card__header">
                                            <div class="card__header-left">
                                                <h3 class="card__header-title">Revenue</h3>
                                            </div>


                                        </div>
                                        <div class="card__body">
                                            <div class="card__widgets">
                                                <div class="card__widgets-row gutter-bottom-sm">
                                                    <div class="card-widget">
                                                        <h4 class="card-widget__title">Current week</h4>
                                                        <div class="card-widget__trade"><span class="card-widget__count text-red">${{ (data.profit_this)|round(2) }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="card-widget">
                                                        <h4 class="card-widget__title">Previous week</h4>
                                                        <div class="card-widget__trade"><span class="card-widget__count text-grey">${{ (data.profit_prev)|round(2) }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card__chart">
                                                <div class="card__container card__container--gutter-sm">
                                                    <div class="card__chart-item chart-revenue" id="revenueChart" data-series="{{ data.profit_list }}"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5 col-xl-4 d-flex">
                            <div class="card">
                                <div class="card__wrapper">
                                    <div class="card__container">
                                        <div class="card__header mb-0">
                                            <div class="card__header-left">
                                                <h3 class="card__header-title">Profit</h3>
                                            </div>
                                        </div>
                                        <div class="card__body">
                                            <div class="card__chart">
                                                <div class="card__chart-item chart-profit" id="profitPieChart" data-series="{{ data.profit_split }}"></div>
                                            </div>
                                        </div>
                                        <div class="card__footer">
                                            <div class="card__container">
                                                <table class="card__stat">
                                                    <tbody>
                                                        <tr>
                                                            <td><span class="signal" style="color: #FF3D57;"></span><span>Activity</span>
                                                            </td>
                                                            <td><span>${{ (data.profit_split[0])|round(2) }}</span>
                                                            </td>
                                                            <td><span class="text-grey">{{ (data.percent[0])|round(2) }}%</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><span class="signal" style="color: #FDBF5E;"></span><span>Hotel</span>
                                                            </td>
                                                            <td><span>${{ (data.profit_split[1])|round(2) }}</span>
                                                            </td>
                                                            <td><span class="text-grey">{{ (data.percent[1])|round(2) }}%</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><span class="signal" style="color: #22CCE2;"></span><span>Flight</span>
                                                            </td>
                                                            <td><span>${{ (data.profit_split[3])|round(2) }}</span>
                                                            </td>
                                                            <td><span class="text-grey">{{ (data.percent[3])|round(2) }}%</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><span class="signal" style="color: #eef213;"></span><span>Tour</span>
                                                            </td>
                                                            <td><span>${{ (data.profit_split[2])|round(2) }}</span>
                                                            </td>
                                                            <td><span class="text-grey">{{ (data.percent[2])|round(2) }}%</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


            </div>
        </main>
{% endblock %}

<!-- jQuery and JavaScript Bundle with Popper -->
{% block jsLink %}
{#    <script src="{{ url_for('static', filename='js/gsap/gsap.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js/gsap/ScrollToPlugin.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js/gsap/ScrollTrigger.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js/vendor/popper.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js/vendor/bootstrap.bundle.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js/vendor/imagesloaded.pkgd.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js/vendor/simplebar.min.js') }}"></script>#}
    <script src="{{ url_for('static', filename='js/vendor/imagesloaded.pkgd.min.js') }}"></script>
{#    <script src="{{ url_for('static', filename='js/vendor/imagesloaded.pkgd.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js/vendor/imagesloaded.pkgd.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js/vendor/imagesloaded.pkgd.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js//vendor/tippy-bundle.umd.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js//vendor/grid/masonry.pkgd.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js//vendor/grid/isotope.pkgd.min.js') }}"></script>#}
    <script src="{{ url_for('static', filename='js//vendor/charts/circle-progress.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js//vendor/charts/echarts.common.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js//vendor/charts/apexcharts/apexcharts.min.js') }}"></script>
{#    <script src="{{ url_for('static', filename='js//vendor/cleave/cleave.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js//vendor/cleave/addons/cleave-phone.us.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js//vendor/jqvmap/jquery.vmap.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js//vendor/jqvmap/jquery.vmap.world.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js//vendor/jqvmap/jquery.vmap.sampledata.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js//vendor/jquery.star-rating-svg.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js//vendor/calendar/flatpickr/flatpickr.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js//vendor/calendar/flatpickr/en.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js//vendor/select2.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js//vendor/editors/quill.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js//vendor/filepond/filepond-plugin-image-preview.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js//vendor/filepond/filepond.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js//vendor/swiper-bundle.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js//vendor/scrollmagic/ScrollMagic.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js//vendor/scrollmagic/debug.addIndicators.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js//components.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js//common.js') }}"></script>#}
{% endblock %}

</html>