<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} {% endblock %} </title>
    <link rel="stylesheet" href="../static/css/topbar.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    {% block csslink %} {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light customizenav sticky-top" style="background: linear-gradient(to right,white, rgb(99,185,214)); padding: 10px; border-radius: 5px; ">
        <a class="navbar-brand" href="#" style="flex-basis: 30%; color: rgb(14, 123, 159);">Travel Agency Name</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
            <li class="nav-item active">
              <a class="nav-link test" href="#" style="color: rgb(56, 119, 173); border-radius: 50px;">

                    Home

                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link test" href="#" style="color: rgb(56, 119, 173);"> Travel Destinations</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle test" href="#" role="button" data-toggle="dropdown" aria-expanded="false" style="color: rgb(56, 119, 173);">
                Booking
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" >Acoomodation</a></li>
                <li><a class="dropdown-item" href="#">Review</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link test" href="#"style="color: rgb(56, 119, 173);">Tourism Atrraction</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit"  style=" margin-left: 20px;">Search</button>
          </form>
        </div>
    </nav>

    {% block body %} {% endblock %}

    {% block footer %} {% endblock %}

</body>
{% block jsLink %} {% endblock %}

</html>