<!DOCTYPE html>
<html class="no-js" lang="en" data-theme="light">

{% extends "BaseManager.html" %}
{% block title %} Manager Activities {% endblock %}

{# head数据均放在该block里 #}
{% block csslink %}
{% endblock %}

{% block body %}
    <div class="sidebar-backdrop"></div>
    <div class="page-wrapper">
        <main class="page-content">
            <div class="container">
                <div class="page-header">
                    <h1 class="page-header__title">Orders</h1>
                </div>
                <div class="page-tools">
                    <div class="page-tools__breadcrumbs">
                        <div class="breadcrumbs">
                            <div class="breadcrumbs__container">
                                <ol class="breadcrumbs__list">

                                    <li class="breadcrumbs__item disabled"><a class="breadcrumbs__link" href="#"><span>Travel-Booking</span>
                        <svg class="icon-icon-keyboard-right breadcrumbs__arrow">
                          <use xlink:href="#icon-keyboard-right"></use>
                        </svg></a>
                                    </li>
                                    <li class="breadcrumbs__item active"><span class="breadcrumbs__link">Orders</span>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="toolbox">
                    <div class="toolbox__row row gutter-bottom-xs">
                        <div class="toolbox__left col-12 col-lg">
                            <div class="toolbox__left-row row row--xs gutter-bottom-xs">

                                <div class="form-group form-group--inline col-12 col-sm-auto d-none d-sm-block">
                                    <div class="toolbox__status input-group input-group--white input-group--append">
                                        <input class="input input--select" type="text" value="All Category"
                                            data-toggle="dropdown" readonly><span class="input-group__arrow">
                                            <svg class="icon-icon-keyboard-down">
                                                <use xlink:href="#icon-keyboard-down"></use>
                                            </svg></span>
                                        <div
                                            class="dropdown-menu dropdown-menu--right dropdown-menu--fluid js-dropdown-select">
                                            <a onclick="load_orders('all', null)" class="dropdown-menu__item active" href="#" tabindex="0"
                                                data-value="All Category"><span class="marker-item"></span> All Category</a>
                                            <a onclick="load_orders('activity', null)" class="dropdown-menu__item" href="#" tabindex="0"
                                                data-value="Activities"><span class="marker-item "></span>
                                                Activities</a>
                                            <a onclick="load_orders('tour', null)" class="dropdown-menu__item" href="#" tabindex="0"
                                                data-value="Tours"><span class="marker-item "></span>
                                                Tours</a>
                                            <a onclick="load_orders('hotel', null)" class="dropdown-menu__item" href="#" tabindex="0"
                                                data-value="Hotels"><span class="marker-item "></span>
                                                Hotels</a>
                                            <a onclick="load_orders('flight', null)" class="dropdown-menu__item" href="#" tabindex="0"
                                                data-value="Flights"><span class="marker-item "></span>
                                                Flights</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-group--inline col-12 col-sm-auto d-none d-sm-block">
                                    <div class="toolbox__status input-group input-group--white input-group--append">
                                        <input class="input input--select" type="text" value="All status"
                                            data-toggle="dropdown" readonly><span class="input-group__arrow">
                                            <svg class="icon-icon-keyboard-down">
                                                <use xlink:href="#icon-keyboard-down"></use>
                                            </svg></span>
                                        <div
                                            class="dropdown-menu dropdown-menu--right dropdown-menu--fluid js-dropdown-select">
                                            <a onclick="load_orders(null, 'all')" class="dropdown-menu__item active" href="#" tabindex="0"
                                                data-value="All status"><span class="marker-item"></span> All status</a>
                                            <a onclick="load_orders(null, 'waiting')" class="dropdown-menu__item" href="#" tabindex="0"
                                                data-value="Waiting"><span class="marker-item color-blue"></span>
                                                Waiting</a>
                                            <a onclick="load_orders(null, 'processing')" class="dropdown-menu__item" href="#" tabindex="0"
                                                data-value="Processing"><span class="marker-item color-orange"></span>
                                                Processing</a>
                                            <a onclick="load_orders(null, 'done')" class="dropdown-menu__item" href="#" tabindex="0"
                                                data-value="Done"><span class="marker-item color-green"></span>
                                                Done</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group form-group--inline col-12 col-sm-auto d-none d-sm-block">
                                    <div class="toolbox__status input-group input-group--white input-group--append">
                                        <input class="input input--select" type="text" value="Sort"
                                            data-toggle="dropdown" readonly><span class="input-group__arrow">
                                            <svg class="icon-icon-keyboard-down">
                                                <use xlink:href="#icon-keyboard-down"></use>
                                            </svg></span>
                                        <div
                                            class="dropdown-menu dropdown-menu--right dropdown-menu--fluid js-dropdown-select">
                                            <a onclick="load_orders('all', null)" class="dropdown-menu__item active" href="#" tabindex="0"
                                                data-value="Sort"><span class="marker-item"></span> Sort</a>
                                            <a onclick="load_orders('By Time', null)" class="dropdown-menu__item" href="#" tabindex="0"
                                                data-value="By Time"><span class="marker-item "></span>
                                                By Time</a>
                                            <a onclick="load_orders('By Price', null)" class="dropdown-menu__item" href="#" tabindex="0"
                                                data-value="By Price"><span class="marker-item "></span>
                                                By Price</a>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
                <div class="table-wrapper">
{#                    <div class="table-wrapper__content table-collapse scrollbar-thin scrollbar-visible" data-simplebar>#}
                        <table class="table table--lines">
                            <colgroup>
                                <col width="90px">
                                    <col width="100px">
                                        <col width="16%">
                                            <col>
                                                <col>
                                                    <col>
                                                        <col>
                                                            <col>
                            </colgroup>
                            <thead class="table__header">
                                <tr class="table__header-row">
                                    <th>
                                        <div class="table__checkbox table__checkbox--all">
                                            <label class="checkbox">
                                                <input class="js-checkbox-all" type="checkbox" data-checkbox-all="product"><span class="checkbox__marker"><span class="checkbox__marker-icon">
                              <svg class="icon-icon-checked">
                                <use xlink:href="#icon-checked"></use>
                              </svg></span></span>
                                            </label>
                                        </div>
                                    </th>
                                    <th class="d-none d-lg-table-cell"><span>Customer</span>
                                    </th>
                                    <th class="table__th-sort"><span class="align-middle">Product Type</span><span class="sort sort--down"></span>
                                    </th>
                                    <th class="table__th-sort d-none d-sm-table-cell"><span class="align-middle">Total</span><span class="sort sort--down"></span>
                                    </th>
                                    <th class="table__th-sort"><span class="align-middle">Start Date</span><span class="sort sort--down"></span>
                                    </th>
                                    <th class="table__th-sort"><span class="align-middle">End Date</span><span class="sort sort--down"></span>
                                    </th>
                                    <th class="table__th-sort d-none d-sm-table-cell"><span class="align-middle">Status</span><span class="sort sort--down"></span>
                                    </th>
                                    <th class="table__actions"></th>
                                </tr>
                            </thead>
                            <tbody id="item-container">
                            </tbody>
                        </table>
{#                    </div>#}
                    <div class="table-wrapper__footer">
                        <div class="row">
                            <div class="table-wrapper__show-result col text-grey"><span class="d-none d-sm-inline-block">Showing</span> 1 to 10 <span class="d-none d-sm-inline-block">of 50 items</span>
                            </div>
{#                            <div class="table-wrapper__pagination col-auto">#}
{#                                <ol class="pagination">#}
{#                                    <li class="pagination__item">#}
{#                                        <a class="pagination__arrow pagination__arrow--prev" href="#">#}
{#                                            <svg class="icon-icon-keyboard-left">#}
{#                                                <use xlink:href="#icon-keyboard-left"></use>#}
{#                                            </svg>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li class="pagination__item active"><a class="pagination__link" href="#">1</a>#}
{#                                    </li>#}
{#                                    <li class="pagination__item"><a class="pagination__link" href="#">2</a>#}
{#                                    </li>#}
{#                                    <li class="pagination__item"><a class="pagination__link" href="#">3</a>#}
{#                                    </li>#}
{#                                    <li class="pagination__item pagination__item--dots">...</li>#}
{#                                    <li class="pagination__item"><a class="pagination__link" href="#">10</a>#}
{#                                    </li>#}
{#                                    <li class="pagination__item">#}
{#                                        <a class="pagination__arrow pagination__arrow--next" href="#">#}
{#                                            <svg class="icon-icon-keyboard-right">#}
{#                                                <use xlink:href="#icon-keyboard-right"></use>#}
{#                                            </svg>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                </ol>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
 {% endblock %}

<!-- jQuery and JavaScript Bundle with Popper -->
{% block jsLink %}
    <script src="{{ url_for('static', filename='js/load_orders.js') }}"></script>
{% endblock %}