<!DOCTYPE html>
<html class="no-js" lang="en" data-theme="light">

{% extends "BaseManager.html" %}
{% block title %} Manager Order Details {% endblock %}

{# head数据均放在该block里 #}
{% block csslink %}
{% endblock %}

{% block body %}
    <div class="sidebar-backdrop"></div>
    <div class="page-wrapper">
        <main class="page-content page-content--order-header">
            <div class="container">
                <div class="page-header">
                    <h1 class="page-header__title">{{ _("Activity Invoice") }} <span class="text-grey"> #{{ order.id }}</span></h1>
                </div>
                <div class="card card-order order-invoice">
                    <form action="{{ url_for('manager.activity_invoice') }}" method="POST" enctype="multipart/form-data">
                    <div class="card card-order order-invoice">
                    <div class="card__wrapper">
                        <div class="card__container">
                            <div class="card__header">
                                <div class="row gutter-bottom-xs justify-content-between flex-grow-1">
                                    <div class="col">
                                        <h2 class="order-invoice__title"><b class="text-uppercase">Activity Invoice</b> <br> #{{ order.id }}</h2>
                                        <div class="order-invoice__address"><span class="text-grey-dark">Group7</span>
                                            <br>Beijing University of Technology
                                            <br> <a href="#">+1 (070) 123-4567</a>
                                            <br> <a href="#">www.Group7.com</a>
                                        </div>
                                    </div>
                                    <div class="order-invoice__header-right col-12 col-md-auto">
                                        <div class="card__date">Placed on {{ order.startTime }}</div>
                                        <div class="order-invoice__logo"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-order__product card-order__invoice-table scrollbar-thin scrollbar-visible" data-simplebar>
                            <table class="table table--lines table--groups table--striped">
                                <colgroup>
                                    <col class="colgroup-1">
                                        <col class="colgroup-2">
                                            <col class="colgroup-3">
                                                <col>
                                </colgroup>
                                <thead class="table__header">
                                    <tr>
                                        <th><span class="text-nowrap">ACTIVITY NAME</span>
                                        </th>
                                        <th class="text-center"><span>DURATION</span>
                                        </th>
                                        <th class="text-center"><span>START TIME</span>
                                        </th>
                                        <th><span>END TIME</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table__row">
                                        <td class="table__td">{{ product.name }}<span class="text-light-theme"></span>
                                        </td>
                                        <td class="table__td text-center text-dark-theme">{{ product.duration }}</td>
                                        <td class="table__td text-center text-light-theme">{{ product.start_time }}</td>
                                        <td class="table__td text-nowrap text-dark-theme">{{ product.end_time }}</td>
                                    </tr>
                                </tbody>

                                <thead class="table__header">
                                    <tr>
                                        <th><span class="text-nowrap">DESCRIPTION</span>
                                        </th>
                                        <th class="text-center"><span>TYPE</span>
                                        </th>
                                        <th class="text-center"><span>CITY</span>
                                        </th>
                                        <th><span>STATE</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table__row">
                                        {% if product.description|length < 60 %}
                                        <td class="table__td"><span class="text-light-theme">{{ product.description[:60] }}</span></td>
                                        {% else %}
                                        <td class="table__td"><span class="text-light-theme">{{ product.description[:60] }}...</span></td>
                                        {% endif %}
                                        <td class="table__td text-center text-dark-theme">{{ product.category }}</td>
                                        <td class="table__td text-center text-light-theme">{{ product.city }}</td>
                                        <td class="table__td text-nowrap text-dark-theme">{{ product.state }}</td>
                                    </tr>
                                </tbody>

                                <thead class="table__header">
                                    <tr>
                                        <th><span class="text-nowrap">ADDRESS</span>
                                        </th>
                                        <th class="text-center"><span>CONTACT NAME</span>
                                        </th>
                                        <th class="text-center"><span>CONTACT EMAIL</span>
                                        </th>
                                        <th><span>CONTACT PHONE</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table__row">
                                            <td class="table__td"><span class="text-light-theme">{{ product.address }}</span>
                                            </td>
                                            <td class="table__td text-center text-dark-theme">{{ product.contact_name }}</td>
                                            <td class="table__td text-center text-light-theme">{{ product.contact_email }}</td>
                                            <td class="table__td text-nowrap text-dark-theme">{{ product.contact_phone }}</td>
                                        </tr>
                                </tbody>

                            <thead class="table__header">
                                    <tr>
                                        <th><span class="text-nowrap">INCLUDED</span>
                                        </th>
                                    </tr>
                            </thead>
                            <tbody>
                                <tr class="table__row">
                                    <td class="table__td"><span class="text-light-theme">{{ product.included }}</span>
                                    </td>
                                </tr>
                            </tbody>

                            <thead class="table__header">
                                    <tr>
                                        <th><span class="text-nowrap">EXCLUDED</span>
                                        </th>
                                    </tr>
                            </thead>
                            <tbody>
                                <tr class="table__row">
                                    <td class="table__td"><span class="text-light-theme">{{ product.excluded }}</span>
                                    </td>
                                </tr>
                            </tbody>

                            </table>
                        </div>

                        <div class="card-order__footer-total">
                            <div class="card__container">
                                <div class="row gutter-bottom-sm justify-content-end">
                                    <div class="col-auto">
                                        <ul class="card-order__total">
                                            <li class="card-order__total-item">
                                                <div class="card-order__total-title">Subtotal:</div>
                                                <div class="card-order__total-value">${{ (order.cost)|round(2) - (order.cost * 0.05)|round(2) }}</div>
                                            </li>
                                            <li class="card-order__total-item">
                                                <div class="card-order__total-title">TAX(5%):</div>
                                                <div class="card-order__total-value">${{ (order.cost * 0.05)|round(2) }}</div>
                                            </li>
                                            <li class="card-order__total-item card-order__total-footer">
                                                <div class="card-order__total-title">total:</div>
                                                <div class="card-order__total-value">${{ (order.cost)|round(2) }}</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    </form>
                </div>
                <button style="position: absolute; top: 120px; right: 50px;" type="button" class="theme-btn"><a href="{{ url_for('manager.total_orders') }}" style="color:white;">Back</a><button>
        </div>
        </main>
    </div>
{% endblock %}

<!-- jQuery and JavaScript Bundle with Popper -->
{% block jsLink %}
{% endblock %}