
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} My Profile {% endblock %} </title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/image/travel.svg') }}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/topbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/bootstrap.min.css') }}">
    {% block csslink %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar/css/style.css') }}">

    {#  original css links  #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/all-fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/flaticon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/magnific-popup.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/nice-select.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/jquery.timepicker.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/style.css') }}">
    {#  calendar css links  #}
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar/css/fontawesome-all.min.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar/css/fullcalendar.min.css') }}">
    {#  footer css link  #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">

{% endblock %}
</head>



<body>
<header class="header">

    <div class="header-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7">
                    <div class="header-top-left">

                        <div class="top-contact-info">
                            <ul>
                                <li><a href="{{ url_for('customer.about_us') }}"><i
                                        class="far fa-phone-arrow-down-left"></i>+86 15214257799</a></li>
                                <li><a href="{{ url_for('customer.about_us') }}"><i
                                        class="far fa-envelopes"></i><span class="__cf_email__"
                                                                           data-cfemail="7811161e17381d00191508141d561b1715">[email&#160;ziqi.guo@ucdconnect.ie@ucdconnect.ie]</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="header-top-right">
                        <div class="lang" style="z-index: 99999;">
                            <select id="langSwitcher" name="lang" class="select" onchange="switchLanguage(this.value)">
                                <option value="en">{{ _("ENG") }}</option>
                                <option value="zh">{{ _("CHN") }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-navigation">
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand">
                        <!-- <img src="../static/img/logo.png" class="logo-display" alt="logo"> -->
                        <img src="{{ url_for('static',filename="image/logo.png") }}" class="logo-scrolled" alt="logo" style="width:200px;">
                    </a>
                    <div class="mobile-menu-right">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#main_nav"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-btn-icon"><i class="far fa-bars"></i></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="main_nav">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="{{ url_for('customer.homepage') }}">{{ _("Home") }}</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="{{ url_for('flight.flightList', page_num=1) }}">{{ _("Flight") }}</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="{{ url_for('hotel.hotelList', page_num=1) }}">{{ _("Hotel") }}</a>

                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link"
                                   href="{{ url_for('activity.activityList', page_num=1) }}">{{ _("Activity") }}</a>
                            </li>


                            <li class="nav-item dropdown">
                                <a class="nav-link" href="{{ url_for('tour.tourList', page_num=1) }}">{{ _("Tour") }}</a>
                                <!-- <ul class="dropdown-menu fade-down">
                                <li><a class="dropdown-item" href="tour-grid.html">Tour Grid</a></li>
                                <li><a class="dropdown-item" href="tour-list.html">Tour List</a></li>
                                <li><a class="dropdown-item" href="tour-full-width.html">Tour Full Width</a></li>
                                <li><a class="dropdown-item" href="tour-single.html">Tour Details</a></li>
                                <li><a class="dropdown-item" href="tour-booking.html">Tour Booking</a></li>
                                <li><a class="dropdown-item" href="tour-search-result.html">Tour Search Result</a>
                                </li>
                                <li><a class="dropdown-item" href="tour-add.html">Add Tour</a></li>
                                </ul> -->
                            </li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('customer.about_us') }}">{{ _("About US") }}</a></li>

                            {% if logged %}
                                <li class="nav-item"><a class="nav-link active" href="{{ url_for('customer.profile') }}">{{ _("Profile") }}</a>
                                </li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link" href="{{ url_for('customer.re_jump') }}">{{ _("Sign in/up") }}</a></li>
                            {% endif %}

                        </ul>
                        <div class="header-nav-right">
                            <!-- <div class="header-btn">
                            <a href="add-property.html" class="theme-btn mt-2">Become An Expert</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>

<main class="main">

    <div class="site-breadcrumb" style=" padding-top: 20px;;background: url(../static/image/bg3.jpg)" >
    <!-- <div class="container"> -->
    <!-- <h2 class="breadcrumb-title">My Profile</h2>
    <ul class="breadcrumb-menu">
    <li><a href="{{ url_for('customer.homepage') }}">Home</a></li>
    <li class="active">My Profile</li>
    </ul> -->
    <!-- </div> -->
    </div>

    <div class="user-profile py-120" style="padding:40px;">
    <div class="container">
    <div class="row">
    <div class="col-lg-3">
    <div class="user-profile-sidebar">
    <div class="user-profile-sidebar-top">
    <div class="user-profile-img">
    <!-- <img src="{{ url_for('static', filename='image/user.svg') }}" alt=""> -->
    <img src="https://avatar.oxro.io/avatar.svg?name={{customer.nickname}} " alt="">
    <!-- <button type="button" class="profile-img-btn"><i class="far fa-camera"></i></button>
    <input type="file" class="profile-img-file"> -->
    </div>
    <h4>{{ customer.nickname }}</h4>
    <p>{{ customer.email }}</p>
    </div>
    <nav>
    <ul class="user-profile-sidebar-list">
         <li id="profile-menu"><a href="{{ url_for('customer.booking') }}" onclick="selected1(this)"><i class="far fa-shopping-bag"></i> <span> {{ _("My Booking") }}</span></a></li>
    <li id="profile-menu"><a href="{{ url_for('customer.profilepage') }}" onclick="selected1(this)"><i class="far fa-user"></i> <span>{{ _("My Profile") }}</span></a></li>

    <li id="profile-menu"><a href="{{ url_for('customer.wishlist') }}" onclick="selected1(this)"><i class="far fa-heart"></i> <span>{{ _("My Wishlist") }}</span></a></li>
    <!-- <li id="profile-menu"><a href="profile-message.html"><i class="far fa-envelope"></i> Messages <span class="badge">02</span></a></li> -->
    <li id="profile-menu"><a href="{{ url_for('customer.wallet') }}" onclick="selected1(this)"><i class="far fa-wallet"></i><span> {{ _("My Wallet") }}</span></a></li>
    <!-- <li><a href="profile-notification.html"><i class="far fa-bell"></i> Notifications <span class="badge">05</span></a></li> -->
    <li id="profile-menu"><a href="{{ url_for('customer.setting') }}" onclick="selected1(this)"><i class="far fa-cog"></i> <span>{{ _("Update profile") }}</span></a></li>
    <li><a href="{{ url_for('customer.logout') }}" onclick="selected1(this)"><i class="far fa-sign-out"></i> <span>{{ _("Logout") }}</span></a></li>
    </ul>
    </nav>
    </div>
    </div>
    <div class="col-lg-9" id="content">
        {% block body %}
        {% endblock %}
    </div>






</body>
</div>
</div>
</div>
<div class="footer">
    <div class="copyright">
        <svg class="svg-up" width="192" height="61" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
             viewBox="0 0 160.7 61.5" enable-background="new 0 0 160.7 61.5" xml:space="preserve">
          <path fill="rgba(156, 216, 236, 0.865)"
                d="M80.3,61.5c0,0,22.1-2.7,43.1-5.4s41-5.4,36.6-5.4c-21.7,0-34.1-12.7-44.9-25.4S95.3,0,80.3,0c-15,0-24.1,12.7-34.9,25.4S22.3,50.8,0.6,50.8c-4.3,0-6.5,0,3.5,1.3S36.2,56.1,80.3,61.5z">
          </path>
        </svg>

        <ul class="info" style="list-style:none;">
            <li>&copy; {{ _("Group 7 NULLGROUPNAMEEXCEPTION") }}</li>
            <li>{{ _("Fourth Teach Building, Beijing") }}</li>
            <li>{{ _("Tel: 123456") }}</li>
            <li>{{ _("Handcrafted with love by Group 7") }}</li>
        </ul>
    </div>
</div>

<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

{% block jsLink %}
{#  original js  #}
<script>

function selected1(elem) {
    // alert("selected")
    // Remove the "selected" class from all list items
    // var navItems = document.querySelectorAll('ul a');
    var navItems = document.querySelectorAll('#profile-menu');
    for (var i = 0; i < navItems.length; i++) {
      navItems[i].classList.remove('active');
      console.log(navItems[i])
    //   alert(navItems[i])
    }

    // Add the "selected" class to the clicked list item
    elem.parentNode.classList.add('active');
  }
</script>
    <script src="{{ url_for('static', filename='css/assets/js/jquery-3.6.0.min.js' ) }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/modernizr.min.js ') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/bootstrap.bundle.min.js ') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/imagesloaded.pkgd.min.js ') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/jquery.magnific-popup.min.js ') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/isotope.pkgd.min.js ') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/jquery.appear.min.js ') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/jquery.easing.min.js ') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/owl.carousel.min.js ') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/counter-up.js ') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/masonry.pkgd.min.js ') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/jquery.nice-select.min.js ') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/jquery-ui.min.js ') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/jquery.timepicker.min.js ') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/wow.min.js ') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/main.js ') }}"></script>
{#  calendar js  #}
    <script src="{{ url_for('static', filename='css/calendar/js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/calendar/js/fullcalendar.js') }}"></script>
    <script src="{{ url_for('static', filename='css/calendar/js/page/calendar.js') }}"></script>
    <script src="{{ url_for('static', filename='css/calendar/js/locale-all.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('nav li#profile-menu a').click(function(e){
                e.preventDefault();
                var url = $(this).attr('href');
                loadPage(url);
            });
                var url ="{{ page }}"; // fist page

                // alert(url);
                loadPage(url);


        });
        function loadPage(url){
                var id_ ="{{ id_ }}";
                var type_="{{ type_ }}"

                if(id_ === ""){
                    id_ = "undefined"
                }

                if(type_ === ""){
                    type_ = "undefined"
                }

                $.ajax({
                url: url,
                type: 'GET',
                data: {
                    "id_": id_,
                    "type_": type_
                },
                success: function(data){


                    $('#content').html(data);

                }
            });


        }
    </script>
    <script src="{{ url_for('static', filename='js/translation.js') }}"></script>

{% endblock %}
</html>