<div class="user-profile-wrapper">
    <div class="user-profile-card">
        <h4 class="user-profile-card-title">My Wishlist</h4>


            <div class="row mt-30">

                {% for i in sorted_orders %}
            <div class="col-md-6 col-lg-4">
                <div class="hotel-item">
                    <div class="hotel-img">
                        <span class="badge">{{ i.type_ }}</span>
                        <img src="{{ i.photo_url }}" alt="">
                        <a href="#" class="add-wishlist"><i class="far fa-heart"></i></a>
                    </div>
                    <div class="hotel-content">
                        <h4 class="hotel-title"><a href="#">{{ i.title }}</a></h4>
                        <p><i class="far fa-location-dot"></i>{{ i.second_line }}</p>
                        <div class="hotel-rate">
                            <span class="badge"><i class="fal fa-star"></i> {{ i.star }}</span>
                            <span class="hotel-rate-type">{{ i.star_des }}</span>
                            <span class="hotel-rate-review">({{ i.review_num }} Reviews)</span>
                        </div>
                        <div class="hotel-bottom">
                            <div class="hotel-price">
<span class="hotel-price-amount">${{ i.price }} <span class="hotel-price-type"></span></span>
                            </div>
                            <div class="hotel-text-btn">
                                <a href="{{ i.url }}">See Details <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                {% endfor %}

        </div>




        <div class="pagination-area my-4">
            <div aria-label="Page navigation example">
                <ul class="pagination mt-0">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true"><i class="far fa-angle-double-left"></i></span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true"><i
                                                        class="far fa-angle-double-right"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


</main>
