
<div class="col-lg-9">
<div class="user-profile-wrapper">
<div class="row">
<div class="col-md-6 col-lg-4">
<div class="dashboard-widget dashboard-widget-color-2">
<div class="dashboard-widget-info">
<h1>${{ customer.wallet }}</h1>
<span>Wallet Balance</span>
</div>
<div class="dashboard-widget-icon">
<i class="fal fa-sack-dollar"></i>
</div>
</div>
</div>
<!-- <div class="col-md-6 col-lg-4">
<div class="dashboard-widget dashboard-widget-color-3">
<div class="dashboard-widget-info">
<h1>$50,000</h1>
<span>Total Credit</span>
</div>
<div class="dashboard-widget-icon">
<i class="fal fa-sack-dollar"></i>
</div>
</div>
</div>
<div class="col-md-6 col-lg-4">
<div class="dashboard-widget dashboard-widget-color-1">
<div class="dashboard-widget-info">
<h1>$62,000</h1>
<span>Total Debit</span>
</div>
<div class="dashboard-widget-icon">
<i class="fal fa-sack-dollar"></i>
</div>
</div>
</div>
</div> -->
<div class="col-lg-12">
<div class="user-profile-card">
<h4 class="user-profile-card-title">Add Balance</h4>
<div class="col-lg-12">
<div class="user-profile-form">
<form action="#">
<div class="col-lg-6">
<div class="form-group">
<label>Add Amount</label>
<input type="text" class="form-control" placeholder="Enter amount">
</div>
</div>
<button type="button" class="theme-btn my-3">Add Now</button>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</main>
