<div class="col-lg-9">
    <div class="user-profile-wrapper">
        <div class="col-lg-12 mb-4">
            <div class="user-profile-card">
                <h4 class="user-profile-card-title">{{ _("Update Profile Info") }}</h4>
                <div class="user-profile-form">
                    <form action="{{ url_for('customer.update_profile') }}" method="post">
                        <!-- <div class="row"> -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ _("User Name") }}</label>
                                <input type="text" name="name" value="{{ customer.nickname }}" class="form-control"
                                       placeholder="{{ customer.nickname }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ _("Email") }}</label>
                                <input type="text" name="email" value="{{ customer.email }}" class="form-control"
                                       placeholder="{{ customer.email }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ _("Phone") }}</label>
                                <input type="text" class="form-control" value="{{ customer.phone_number }}" name="phone"
                                       placeholder="{{ customer.phone_number }}">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{ _("Address") }}</label>
                                <input type="text" class="form-control" value="{{ customer.address }}" name="address"
                                       placeholder="{{ customer.address }}">
                            </div>
                        </div>
                        <button type="submit" class="theme-btn mt-4">{{ _("Update Profile Info") }} <i class="far fa-user"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
</div>
</div>

</main>


