{% extends "StaffTopBar.html" %}
{% block title %} Staff Main Page {% endblock %}

{% block csslink %}
  <meta charset="UTF-8">
  <title>Staff Main page</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css'>
  <link rel="stylesheet" href="../static/css/StaffMainPage.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'><link rel="stylesheet" href="../static/css/StaffChat.css">
{% endblock %}


{% block body %}


<div class="travel-store">
 <div class="travel-slide">
  <div class="travel js-flickity" data-flickity-options='{ "wrapAround": true }'>

<!--   HAWAIIAN-->
   <div class="travel-cell">
    <div class="travel-content">
     <div class="travel-title">PAGE VIEWS</div>
     <div class="travel-author">Last Week</div>
        <div class="travel-data">1,987 views</div>
    </div>
   </div>

<!--      Universal Beijing Resort-->
   <div class="travel-cell">
    <div class="travel-content">
     <div class="travel-title">SIGN-UPS</div>
     <div class="travel-author">Last Week</div>
        <div class="travel-data">1,761 times</div>
    </div>
   </div>

<!--      Maldives-->
   <div class="travel-cell">
     <div class="travel-content">
     <div class="travel-title">TOUR BOOKINGS</div>
     <div class="travel-author">Last Week</div>
        <div class="travel-data">1,061 times</div>
    </div>
   </div>

<!--      Eiffel Tower-->
   <div class="travel-cell">
    <div class="travel-content">
          <div class="travel-title">HOTEL BOOKINGS</div>
     <div class="travel-author">Last Week</div>
        <div class="travel-data">1,872 times</div>
    </div>
    </div>
  </div>
 </div>





<!--    left small-->
 <div class="main-wrapper">
  <div class="travels-of">
   <div class="week">
    <div class="author-title">Recent Booked Users</div>
    <div class="author">
     <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" alt="" class="author-img">
     <div class="author-name">Bob Lillis</div>
    </div>
    <div class="author">
     <img src="https://images.unsplash.com/photo-1586297098710-0382a496c814?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="" class="author-img">
     <div class="author-name">Jonathan Doe</div>
    </div>
    <div class="author">
     <img src="https://images.unsplash.com/photo-1573140247632-f8fd74997d5c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" class="author-img">
     <div class="author-name">Angeline Summer</div>
    </div>
       <div class="author">
           <img src="https://pbs.twimg.com/profile_images/737221709267374081/sdwta9Oh.jpg" alt="" class="author-img">
           <div class="author-name">Noah Jones</div>
       </div>
       <div class="author">
           <img src="https://images.unsplash.com/photo-1586297098710-0382a496c814?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="" class="author-img">
           <div class="author-name">Jonathan Doe</div>
       </div>
    <div class="author">
     <img src="https://pbs.twimg.com/profile_images/737221709267374081/sdwta9Oh.jpg" alt="" class="author-img">
     <div class="author-name">Noah Jones</div>
    </div>
    <div class="author">
     <img src="https://pbs.twimg.com/profile_images/2452384114/noplz47r59v1uxvyg8ku.png" alt="" class="author-img">
     <div class="author-name">Tommy Adam</div>
    </div>
    <div class="author">
     <img src="https://images.unsplash.com/photo-1546961329-78bef0414d7c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" class="author-img">
     <div class="author-name">Ian Cassandra</div>
    </div>
   </div>




<!--      bottom right-->
   <div class="overlay"></div>
  </div>
  <div class="popular-travels">
   <div class="main-menu">
    <div class="genre">Popular by Genre</div>
    <div class="travel-types">
     <a href="#" class="travel-type active"> Accommodation</a>
     <a href="#" class="travel-type"> Destinations</a>
     <a href="#" class="travel-type"> Attractions</a>
    </div>
   </div>
   <div class="travel-cards">
    <div class="travel-card">
     <div class="content-wrapper">
     <img src="../static/image/waterHotel.jpg" alt="" class="travel-card-img">
     <div class="card-content">
     <div class="travel-name">Baro Resort Water House</div>
      <div class="travel-by">in Fari Island</div>
      <div class="rate">
<fieldset class="rating travel-rate">
<input type="checkbox" id="star-c1" name="rating" value="5">
<label class="full" for="star-c1"></label>
<input type="checkbox" id="star-c2" name="rating" value="4">
<label class="full" for="star-c2"></label>
<input type="checkbox" id="star-c3" name="rating" value="3">
<label class="full" for="star-c3"></label>
<input type="checkbox" id="star-c4" name="rating" value="2">
<label class="full" for="star-c4"></label>
<input type="checkbox" id="star-c5" name="rating" value="1">
<label class="full" for="star-c5"></label>
</fieldset>
<span class="travel-voters card-vote">1.987 voters</span>
</div>
       <div class="travel-sum card-sum">The water house has a large room, a glass floor and a beautiful swimming pool. It is independent of the sea and can only be reached by boat. This year, it has a new type of slide room!</div>
      </div>
    </div>
     <div class="likes">
     <div class="like-profile">
    <img src="https://randomuser.me/api/portraits/women/63.jpg" alt="" class="like-img">
   </div>
     <div class="like-profile">
    <img src="https://pbs.twimg.com/profile_images/2452384114/noplz47r59v1uxvyg8ku.png" alt="" class="like-img">
   </div>
     <div class="like-profile">
    <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" alt="" class="like-img">
   </div>
     <div class="like-name"><span>Samantha William</span> and<span> 2 other customers</span> recommend this</div>
   </div>


<!--tower Hotel-->
    </div>
    <div class="travel-card">
     <div class="content-wrapper">
     <img src="../static/image/towerHotel.jpg" alt="" class="travel-card-img">
     <div class="card-content">
     <div class="travel-name">Pullman Paris Tour Eiffel</div>
      <div class="travel-by">in Paris</div>
      <div class="rate">
<fieldset class="rating travel-rate">
<input type="checkbox" id="star-c6" name="rating" value="5">
<label class="full" for="star-c6"></label>
<input type="checkbox" id="star-c7" name="rating" value="4">
<label class="full" for="star-c7"></label>
<input type="checkbox" id="star-c8" name="rating" value="3">
<label class="full" for="star-c8"></label>
<input type="checkbox" id="star-c9" name="rating" value="2">
<label class="full" for="star-c9"></label>
<input type="checkbox" id="star-c10" name="rating" value="1">
<label class="full" for="star-c10"></label>
</fieldset>
<span class="travel-voters card-vote">1.987 voters</span>
</div>
       <div class="travel-sum card-sum">The location is very good, the transportation is very convenient, it is close to all the scenic spots, it is very good to see the tower at night, and the breakfast is very good! </div>
      </div>
    </div>
     <div class="likes">
     <div class="like-profile">
    <img src="https://randomuser.me/api/portraits/women/63.jpg" alt="" class="like-img">
   </div>
     <div class="like-name"><span>Kimberly Jones</span> recommend this</div>
   </div>
    </div>


<!--universal-->
    <div class="travel-card">
     <div class="content-wrapper">
     <img src="../static/image/universalHotel.png" alt="" class="travel-card-img">
     <div class="card-content">
     <div class="travel-name">Always Magic B&B</div>
      <div class="travel-by">in Beijing</div>
      <div class="rate">
<fieldset class="rating travel-rate">
<input type="checkbox" id="star-c11" name="rating" value="5">
<label class="full" for="star-c11"></label>
<input type="checkbox" id="star-c12" name="rating" value="4">
<label class="full" for="star-c12"></label>
<input type="checkbox" id="star-c13" name="rating" value="3">
<label class="full" for="star-c13"></label>
<input type="checkbox" id="star-c14" name="rating" value="2">
<label class="full" for="star-c14"></label>
<input type="checkbox" id="star-c15" name="rating" value="1">
<label class="full" for="star-c15"></label>
</fieldset>
<span class="travel-voters card-vote">1.987 voters</span>
</div>
       <div class="travel-sum card-sum">The hotel is full of magical atmosphere, with the Gryffindor drawing room, Hufflepuff dining room, Slytherin Common Room, Ravenclaw Common Room, and memories of whichever house or character you like. </div>
      </div>
    </div>
     <div class="likes">
     <div class="like-profile">
    <img src="https://randomuser.me/api/portraits/women/63.jpg" alt="" class="like-img">
   </div>
     <div class="like-profile">
    <img src="https://pbs.twimg.com/profile_images/2452384114/noplz47r59v1uxvyg8ku.png" alt="" class="like-img">
   </div>
     <div class="like-name"><span>Adam</span> and<span> Kimberly</span> recommend this</div>
   </div>
    </div>



<!--Hawaiian-->
    <div class="travel-card">
     <div class="content-wrapper">
     <img src="../static/image/HawaiianHotel.jpg" alt="" class="travel-card-img">
     <div class="card-content">
     <div class="travel-name">Hotel La Croix</div>
      <div class="travel-by">in America</div>
      <div class="rate">
<fieldset class="rating travel-rate">
<input type="checkbox" id="star-c16" name="rating" value="5">
<label class="full" for="star-c16"></label>
<input type="checkbox" id="star-c17" name="rating" value="4">
<label class="full" for="star-c17"></label>
<input type="checkbox" id="star-18" name="rating" value="3">
<label class="full" for="star-c18"></label>
<input type="checkbox" id="star-c19" name="rating" value="2">
<label class="full" for="star-c19"></label>
<input type="checkbox" id="star-c20" name="rating" value="1">
<label class="full" for="star-c20"></label>
</fieldset>
<span class="travel-voters card-vote">1.987 voters</span>
</div>
       <div class="travel-sum card-sum">The room is well equipped and clean. You can enjoy tropical trade winds on the terrace.</div>
      </div>
    </div>
     <div class="likes">
     <div class="like-profile">
    <img src="https://randomuser.me/api/portraits/women/63.jpg" alt="" class="like-img">
   </div>
     <div class="like-profile">
    <img src="https://pbs.twimg.com/profile_images/2452384114/noplz47r59v1uxvyg8ku.png" alt="" class="like-img">
   </div>
     <div class="like-profile">
    <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" alt="" class="like-img">
   </div>
     <div class="like-name"><span>Samantha William</span> and<span> 2 other customers</span> recommend this</div>
   </div>


{% endblock %}
<!-- jQuery and JavaScript Bundle with Popper -->
{% block jsLink %}
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="../static/js/StaffChat.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<!-- chat-->
        <script id="message-template" type="text/x-handlebars-template">
  <li class="clearfix">
    <div class="message-data align-right">
      <span class="message-data-time" >{{time}}, Today</span> &nbsp; &nbsp;
      <span class="message-data-name" >Olia</span> <i class="fa fa-circle me"></i>
    </div>
    <div class="message other-message float-right">
      {{messageOutput}}
    </div>
  </li>
</script>

<script id="message-response-template" type="text/x-handlebars-template">
  <li>
    <div class="message-data">
      <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
      <span class="message-data-time">{{time}}, Today</span>
    </div>
    <div class="message my-message">
      {{response}}
    </div>
  </li>
</script>

<!-- partial -->
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js'></script><script  src="../static/js/StaffChat.js"></script>
{% endblock %}