{% extends "base.html" %}
{% block title %} Booking Confirm {% endblock %}

{% block csslink %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/all-fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/flaticon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/magnific-popup.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/nice-select.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/jquery.timepicker.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/css/style.css') }}">

{% endblock %}

{% block body %}
    <main class="main">

        <div class="site-breadcrumb" style="background: url({{ url_for('static', filename='css/assets/img/breadcrumb/01.jpg') }})">
        </div>

        <div class="booking-confirm py-120">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto mt-5">
                        <div class="booking-summary">
                            <h3>{{ _("Booking Summary") }}</h3>
                            <div class="booking-summary-content">
                                <div class="row g-5">
                                    <div class="col-lg-6">
                                        <div class="booking-summary-list">
                                            <h6>{{ _("Tour Info") }}</h6>
                                            <ul>
                                                <li>{{ _("Product Type ") }}<span>{{ _("Tour") }}</span></li>
                                                <li>{{ _("Product Name ") }} <span>{{ tour.name }}</span></li>
                                                <li>{{ _("Product Category ") }} <span>{{ tour.category }}</span></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="booking-summary-list">
                                            <h6>{{ _("Product Info ") }}</h6>
                                            <ul>
                                                <li>{{ _("Tour Date ") }} <span>{{ order_date }}</span></li>
                                                <li>{{ _("Tour Price ") }} <span>{{ tour.price }}</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="booking-summary-list">
                                            <h6>{{ _("Customer Info ") }}</h6>
                                            <ul>
                                                <li>{{ _("Name") }} <span>{{ customer.nickname }}</span></li>
                                                <li>{{ _("Email") }} <span>{{ customer.email }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="booking-summary-list">
                                            <h6>{{ _("Billing Info") }}</h6>
                                            <ul>
                                                <li>Tax <span class="text - success">{{ tour.price*0.05 }}</span></li>
                                                <li>{{ _("Payment Method") }} <span>{{ _("Token") }}</span></li>
                                                <li class="fw-bold">{{ _("Total Payment") }} <span>{{ tour.price*0.05+tour.price }}</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="booking-confirm-btn">
                                <a href="{{ url_for('tour.order_success', tour_id=tour.id, date=order_date, cost=tour.price*0.05+tour.price, name=tour.name) }}" class="theme-btn"><span class="far fa-print"></span>{{ _("Confirm Booking") }}</a>
                                <a href="{{ url_for('tour.tourDetail', tour_id=tour.id) }}" class="theme-btn cancel-booking"><span
                                        class="far fa-xmark-circle"></span>{{ _("Cancel Booking") }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}


{% block jsLink %}
    <script src="{{ url_for('static', filename='css/assets/js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/modernizr.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/jquery.appear.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/counter-up.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/masonry.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/jquery.nice-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/jquery.timepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/main.js') }}"></script>
{% endblock %}